.login {
  width: 100vw;
  height: 100vh;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.loginWrapper {
  width: 70%;
  height: 70%;
  display: flex;
}

.loginLeft,
.loginRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.AppName {
  width: 100%;
}
.loginName {
font-size: 50px;
font-weight: 800;
color: var(--blue-color);
margin-bottom: 50px;
text-align: center;
}

.loginLogo {
  width: 300px;
  display: flex;
  margin: auto;
}

.loginDesc {
  font-size: 20px;
  text-align: center;
}

.loginRight {
  margin-top: 40px;
}

.loginBox{
  height: 400px;
  padding: 20px;
  background-color: var(--pale-pink-color);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginInput{
  height: 50px;
  border-radius: 30px;
  border: 1px solid var(--pale-blue-color);
  font-size: 18px;
  padding-left: 20px;
  color: var(--blue-color);
}

.loginInput:focus{
    outline: none;
}

.loginButton{
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: var(--pale-blue-color);
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginForgot{
    text-align: center;
    color: var(--blue-color);

}

.loginRegisterButton{
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: var(--pale-blue-color);
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}