.post {
    margin: 30px 0;
    width: 100%;
    border-radius: 10px;
    background: var(--white-color);
    border: 2px solid var(--pale-blue-color);
    -webkit-box-shadow: 9px 9px 15px -2px rgba(0,0,0,0.24); 
    box-shadow: 9px 9px 15px -2px rgba(0,0,0,0.24);
    
}

.postWrapper {
    padding: 10px;
}

.postTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postTopRight {
    display: flex;
    align-items: center;
}

.postTopLeft {
    display: flex;
    align-items: center;
}

.postProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postUserName {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
    display: flex;
}

.postDate {
    font-size: 12px;
}

.postCenter {
    margin: 20px 0;
}

.postImg {
    width: 100%;
    margin-top: 20px;
    max-height: 500px;
    border-radius: 15px;

}

.postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft {
    display: flex;
    align-items: center;
}

.likeIcon {
    width: 18px!important;
    height: 18px!important;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter {
    font-size: 15px;
}

.postCommentText{
    cursor: pointer;
    font-size: 13px;
}

.postCommentText{
    cursor: pointer;
    font-size: 13px;
}
.postUserName span {
    display: flex;
    margin-left: 10px;
    color: var(--blue-color);
    cursor: pointer;
}

.likeButton, .CommentButton {
    color: var(--blue-color);
    cursor: pointer;
}

.likesNumber {
    font-size: 14px;
}

.moreOptions-button {
    color: var(--blue-color);
    cursor: pointer;
}

.moreOptions {
    display: flex;
    width: 40px;
    flex-direction: column;
    background: var(--pale-blue-color);
    border-radius: 10px;
    color: var(--blue-color);
    cursor: pointer;
    padding: 5px;
}
.moreOptions-close {
    display: flex;
    position: absolute;
    right: 2px;
    top: -2px;
    margin: 5px;
}

.moreOptionsContainer {
    display: flex;
    position: relative;
    margin-left: 10px;
}

.update-post textarea {
    width: 95%;
    background: var(--pale-pink-color);
    font-weight: 500;
}

.update-post {
    position: relative;
}
.update-post .btn {
    float: right;
    margin: 5px;
    background: var(--blue-color);
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: var(--white-color);
    font-weight: 600;
    cursor: pointer;
}

textarea:focus {
    outline: 1px solid var(--pale-blue-color);
}


/*Comments*/

.comments-container {
width: 100%;
}

.left-part img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.postBottomRight {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.comments-container {
    background: var(--pale-blue-color);
    padding: 10px 20px;
    border-radius: 15px;
    width: 400PX;
    display: flex;
    flex-direction: column;
}

.comments-container .left-part {
    display: flex;
}

.dateComment {
    margin-left: 185px;
}

.textComment {
    margin: 15px;
    background: var(--pale-pink-color);
    padding: 8px;
    border-radius: 15px;
}
.comments-container .comment-textarea {
    background: var(--pale-blue-color);
    border: 1px solid var(--white-color);
    padding: 10px;
    border-radius: 15px;
    width: 95%;
}

.comments-container input:focus {
    outline: none;
    background: var(--white-color);
}

.send-comment-btn {
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: var(--blue-color);
    font-weight: 500;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
    color: white;
    float: right;
}