.sidebar {
    flex:3;
    height: calc(100vh - 50px);
    background-color: var(--pale-blue-color);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: var(--pale-blue-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--orange-color);
}

.sidebarWrapper {
    padding: 20px;
}

.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.sidebarIcon {
    margin-right: 25px;
}

.sidebarButton {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    background-color: var(--orange-color);
}

.sidebarHr {
    margin: 20px auto;
    width: 80%;
    display: flex;

}

