.profile{
    display: flex;
}

.profileRight{
    flex: 9;
}

.profileCover{
    height: 320px;
    position: relative;
}

.profileCoverImg{
    width: 100%;
    height: 250px;
    background-color: var(--pale-pink-color);
}

.profileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    border: 3px solid white;
}

.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 165px;
    position: relative;
}

.profileInfoName{
    font-size: 24px;
}

.profileInfoDesc{
    font-weight: 300;
}

.profileRightBottom{
    display: flex;
}

.changeProfilButton {
    background: var(--orange-color);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
}

.changeProfilButton.profile {
    display: flex;
    position: absolute;
    right: 30px;
    top: 55%;
    font-size: 15px;
}