.rightbar {
    width: 370px;
}

.rightbarWrapper {
    padding: 20px 20px 0 0;
}

.birthdayContainer {
    display: flex;
    align-content: center;
}
.birthdayImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.birthdayText {
    font-weight: 300;
    font-size: 15px;
}

.rightbarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }

.rightbarInfo{
    margin-bottom: 30px;
  }
  
  .rightbarInfoItem{
    margin-bottom: 10px;
  }
  
  .rightbarInfoKey{
    font-weight: 800;
    margin-right: 15px;
    color: var(--dark-color);
  }
  
  .rightbarInfoValue{
    font-weight: 300;
  }
  
  .rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .rightbarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .rightbarFollowingImg{
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50px;
  }

.rightbarFollowingName {
  text-align: center;
  margin-top:3px;
}

.rightbarFollowButton {
  margin-top:30px;
  margin-bottom: 10px;
  border:none;
  background-color: var(--orange-color);
  border-radius: 5px;
  color:var(--dark-color);
  padding: 5px 10px;
  display: flex;
  align-items: center;
  cursor:pointer;
}

.rightbarFollowButton:focus {
  outline: none;
}

.CategoryContainer {
  width: 250px;
  margin: 20px 0 0 10px;
}

.CategoryContainer h3 {
  text-align: center;
}

.sidebarListCat {
  background: var(--pale-blue-color);
  border-radius: 15px;
  padding-top: 27px;
}

.CategoryWrapper {
  margin-top: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 400px;
  list-style: none;
  font-size: 18px;
  font-weight: 600;
}