.share {
    width: 100%;
    border-radius: 10px;
    background-color: var(--white-color);
    border: 2px solid var(--pale-orange-color);
    -webkit-box-shadow: 9px 9px 15px -2px rgba(0,0,0,0.24); 
    box-shadow: 9px 9px 15px -2px rgba(0,0,0,0.24);
}

.shareTop {
    display: flex;
    align-items: center;
}

.shareWrapper {
    padding: 15px;
}

.shareProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.shareInput {
    border: none;
    width: 80%;
    background-color: var(--white-color);

  }
  
.shareInput:focus {
  outline: none;
}

.shareHr {
    margin: 20px;
}

.shareBottom {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.shareOptions {
    display: flex;
    justify-content: right;
}

.shareOption {
    display: flex;
    align-content: center;
    margin-right: 15px;
    cursor: pointer;
}

.shareIcon{
    font-size: 18px;
    margin-right: 5px;
    color: var(--blue-color);
}

.shareOptionText{
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.shareButton, .cancelButton{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: var(--blue-color);
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}

.shareImgContainer {
    position: relative;
    padding: 0 20px 10px 20px;
}

.shareImg {
    width: 100%;
    height: 450px;
    border-radius: 15px;
}

.shareCancelImg {
    position: absolute;
    top:0;
    right: 20PX;
    cursor: pointer;
}

